.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  background-color: #1e1e30;
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-size: 32px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

form button {
  border-radius: 30px;
  background-color: #8b8ae1;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #7a79d1;
  opacity: 0.9;
}

form input {
  border: 1px solid #48456c;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

.card {
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  justify-content: space-between;
  align-items: flex-start;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 15px 20px;
  width: 400px;
  border-radius: 10px;
  color: #fff;
}

.student-info {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px; /* Espaço entre os botões */
  margin-top: 10px;
}

.delete-button {
  background-color: #e06767;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-button:hover {
  background-color: #d15555;
}

.edit-button {
  background-color: #8b8ae1;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button:hover {
  background-color: #7a79d1;
}

/* Mensagem quando não há alunos cadastrados */
.empty-message {
  color: #b3b2e6;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
